<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <style>
      @import url(https://fonts.googleapis.com/css?family=Noto+Sans);
      body {
        font-family: 'Noto Sans', sans-serif;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        color: #fff;
        background: #2F2F2F;
      }
      a {
        color: #ca5959;
      }
    </style>
    {{ bokeh_css }}
    {{ bokeh_js }}
  </head>
  <body>
    <header>
      <h1>Gun Violence Correlations - An Analysis</h1>
    </header>
  {{ plot_div }}
  {{ plot_script }}
  </body>
</html>